body{
    font-family:Arial, Helvetica, sans-serif ;
}

#barco{
    width:100%;
}

.PRINCIPAL{
    background-color: rgb(154, 207, 221);
    color:rgb(11, 39, 47);
    text-align: center;
    padding: 30px;
}

h1{
    color:rgb(11, 39, 47);
    font-size: 50px; 
    margin-top:10%;
}

p{
    color:rgb(11, 47, 29);  
    font-size: 25px;
}

#contato{
    font-size: 12px;
    margin-inline-end: 10%;
}

.itens{
    font-style:italic;
}

.SERVIÇOS{
    background: #FFFFFF;
    padding: 20px;
}

h2{
    color:rgb(11, 39, 47);
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width:20%;
    margin-right: 15%;
}

.barco1{
    width:50%;
}